<p id="notice"><%= notice %></p>

<h1>Listagem de Professores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

