<p id="notice"><%= notice %></p>

<h1>Listagem de Disciplinas</h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

